.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.err {
  color: red;
  font-weight: bold;
}
.success {
  color: rgb(34, 49, 0);
  font-weight: bold;
}
.App-link {
  color: #09d3ac;
}
